.feedPostContainer {
  font-family: var(--custom-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  gap: 16px;
  text-align: center;
  /*
  : FOR MANAGIN CONTAINER SIZE
  */
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.feedPostHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.feedPostProfilePicture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #7c7979;
}

.feedPostProfileName {
  font-size: 16px;
  font-weight: 600;
}

.feedPostContentImage {
  height: 256px;
}

.feedPostContentTitle {
  font-size: 24px;
  font-weight: 600;
}

.feedPostContentDescription {
  font-size: 16px;
  font-weight: 400;
  margin: 25px 15% 15px 15%;
}

.feedPostFooter {
  display: flex;
  flex-direction: row;
  gap: 16px;
}